{% extends "layout.html" %}
{% block style %}
<style>
    video {
        margin: 0 auto;
        width: 90%;
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block main %}
<video width="auto" height="auto" autoplay mute loop>
    <source src="{{ url_for('static', filename='src/video/cowfarmB_ch2_2022072519_010 (online-video-cutter.com).mp4') }}"
            type="video/mp4">
</video>
{% endblock %}
