<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- 기본 스타일 -->
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: large;
        }

        /*************
        *** Header ***
        *************/
        ol,
        ul {
            list-style: none;
        }

        #intro {
            width: 100%;
            height: 80px;
            background-color: whitesmoke;

            border-bottom: 0.01px solid rgb(173, 173, 173);
        }

        #intro h1 {
            float: left;

            width: 25%;
            height: 80px;
        }

        #intro h1 a {
            display: block;
            font-size: 30px;
            padding: 22px 0 0 30px;

            text-align: center;
        }

        #intro nav {
            float: right;
            width: 75%;
            height: 80px;
        }

        #intro nav ul li {
            float: left;

            width: 50%;
            height: 80px;

            text-align: center;

            line-height: 80px;
        }
    </style>
</head>

<body>
    <div class="container">
        <header id="intro">
            <h1><a href="/for">소카이넷</a></h1>
            <nav>
                <ul>
                    <li class="mine">내 농장</li>
                    <li class="info">정보 보기</li>
                </ul>
            </nav>
        </header>
        <main>{% block main %}{% endblock %}</main> 
        <footer>{% block footer %}{% endblock %}</footer>
    </div>
</body>

</html>